#post-recipe-component {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#post-recipe-form {
    display: flex;
    flex-direction: column;
}
.post-recipe-labels {
    text-align: center;
}
.post-recipe-inputs {
    font-size: 20px;
}
#add-delete-ingredients-parent > button, #add-delete-steps-parent > button {
    height: 8vh;
    width: 16vw;
}