#front-page-component {
    font-size: 40px;
}
#top-banner-background {
    background-image: url('../../assets/cutting-board-flipped.JPG');
    display: flex;
    justify-content: space-between;
}
#top-banner {
    display: flex;
    height: 12vh;
    min-height: 60px;
    color: #196f3d;
    font-weight: 600;
    font-size: 5vw;
    padding-left: 2vw;
}
#top-banner-post-logout-parent {
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 1vw;
}
#create-recipe-button, #logout-button {
    cursor: pointer;
}
#create-recipe-button {
    margin-right: 2.5vw;
}