#search-posts {
}
#search-input {
    font-size: 20px;
    border-radius: 5px;
    padding: 2px;
    text-indent: 3px;
}
#button-container {
    display: flex;
    align-items: center;
}
#search-button {
    width: 10vw;
    min-width: 130px;
    height: 30px;
    margin-top: 0;
}
