#single-recipe-component, #photo-swap-photo-button-parent {
    display: flex;
    flex-direction: column;
}
#single-recipe-title-and-image, #ingredients-steps-parent {
    display: flex;
    height: fit-content;
    margin: 1vw 5vw;
    align-items: center;
}
#single-recipe-image {
    height: 15vw;
    width: 20vw;
}
#edit-recipe-photo-parent {
    margin: auto;
    margin-top: 12px;
    font-size: 1.2vw;
    font-weight: 600;
}
#edit-recipe-photo-parent > label {

}
#edit-recipe-photo-parent > input {
    display: none;
}
#edit-recipe-photo-parent label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #196f3d;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
#swap-photo-button {
    width: 90%;
}
#single-recipe-title {
    text-align: center;
    font-size: 5.5vw;
    padding-bottom: 4vh;
}
#ingredients-steps-parent {
    justify-content: space-between;
    margin-top: 2.5vw;
    align-items: flex-start;
}
#steps, #ingredients {
    max-width: 40vw;
}
#steps > h3, #steps > ol { 
    text-align: right;
}
ol {
    display: flex;
    flex-direction: column;
}
li {
    border-bottom: 1px solid black;
    font-size: 1.5vw;
}
.editing-recipe-inputs {
    max-width: 40vw;
    width: 40vw;
    font-size: 1.5vw;
}
#update-recipe-button {
    margin: 2vh 0 5vh 0;
}
#submit-recipe-changes-button {
    margin-top: 0;
}
#updated-recipe-message {
    align-self: center;
}
#recipe-bottom-border {
    height: 3px;
    width: 90vw;
    background-color: black;
    border-radius: 50%;
    margin: auto;
}
