#star-rating-parent:hover {
    
}
.star-image {
    height: 3.3vw;
}
.star-image:hover {
    cursor: pointer;
}
@media (max-width: 700px) {
    .star-image {
        height: 4.4vw;
    }
}