#auth-component {
    height: 100vh;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
#auth-title {
    font-size: 17vw;
    margin-top: 9vh;
    margin-bottom: 8vh;
    text-align: center;
    color: #196f3d;
}

#auth-form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}
button, .input {
    align-self: center;
    height: 30px;
    margin-top: 2vh;
}
button {
    width: 30vw;
    font-size: 17px;
    border-radius: 12px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    box-shadow: 3px 3px 2px darkgray, inset 3px 3px 2px whitesmoke;
    background-color: silver;
}
button:active {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    box-shadow: 3px 3px 2px whitesmoke, inset 3px 3px 2px darkgray;
    background-color: silver;
}
button:hover {
    cursor: pointer;
}
.input {
    width: 29vw;
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
#form-parent {
    display: flex;
    flex-direction: column;
}
#error-message-parent {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#error-message-simple {
    font-size: 18px;
    color: brown;
    align-self: center;
    margin: 30px;
}
#forgot-password-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

@media (max-width: 700px) {
    button, .input {
        border-radius: 50px;
        width: 70%;
        height: 6vh;
    }
}
@keyframes chop {
    
}