#recipe-list-component {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vw;
}
#recipe-parent {
    display: grid;
    grid-gap: 6vw;
    grid-template-columns: repeat(4, 1fr);
    width: fit-content;
}
#individual-recipe {
    display: flex;
    flex-direction: column;

}
#recipe-image {
    height: 10vw;
    width: 15vw;
    border: 1px solid black;
    margin: auto;
}
#recipe-title {
    text-align: center;
    font-size: 3vw;
}
#recipe-rating {
    text-align: center;
    font-size: 2vw;
}